<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>infinitylearn</display-name>
    <listener>
    	<listener-class>uni.project.infinitylearn.listeners.MyContextListener</listener-class>
    </listener>
    <servlet>
    	<description>
    	</description>
    	<display-name>MainController</display-name>
    	<servlet-name>MainController</servlet-name>
    	<servlet-class>uni.project.infinitylearn.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>SecondController</display-name>
    	<servlet-name>SecondController</servlet-name>
    	<servlet-class>uni.project.infinitylearn.controllers.SecondController</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	This is the welcome file for the project</description>
    	<display-name>IndexController</display-name>
    	<servlet-name>IndexController</servlet-name>
    	<servlet-class>uni.project.infinitylearn.controllers.IndexController</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>CourseListController</display-name>
    	<servlet-name>CourseListController</servlet-name>
    	<servlet-class>uni.project.infinitylearn.controllers.CourseListController</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>CourseCreateController</display-name>
    	<servlet-name>CourseCreateController</servlet-name>
    	<servlet-class>uni.project.infinitylearn.controllers.CourseCreateController</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>MainController</servlet-name>
    	<url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SecondController</servlet-name>
    	<url-pattern>/SecondController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>IndexController</servlet-name>
    	<url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CourseListController</servlet-name>
    	<url-pattern>/CourseListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CourseCreateController</servlet-name>
    	<url-pattern>/CourseCreateController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <listener>
    	<description>Listener for the whole application start</description>
    	<display-name>MyContextListener</display-name>
    	<listener-class>uni.project.infinitylearn.listeners.MyContextListener</listener-class>
    </listener>
    
    <context-param>
    	<description>the database name</description>
    	<param-name>dbName</param-name>
    	<param-value>testingdb</param-value>
    </context-param>
    
    <context-param>
    	<description>database user name</description>
    	<param-name>dbUser</param-name>
    	<param-value>root</param-value>
    </context-param>
    
    <context-param>
    	<description>database password</description>
    	<param-name>dbPassword</param-name>
    	<param-value></param-value>
    </context-param>
    </web-app>
	