<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>infinitylearn</display-name>
	<session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <listener>
    	<description>Listener for the whole application start</description>
    	<display-name>MyContextListener</display-name>
    	<listener-class>uni.project.infinitylearn.listeners.MyContextListener</listener-class>
    </listener>
<!-- DATABASE -->
    <!-- The context parameters are used to configure the database connection -->
    <context-param>
    	<description>the database name</description>
    	<param-name>dbName</param-name>
		<!-- this is the name of the database -->
		<!-- Do not upload this file to the repository. -->
    	<param-value>infinity_learns</param-value>
    </context-param>
    
    <context-param>
    	<description>database user name</description>
    	<param-name>dbUser</param-name>
		<!-- this is the user of the database -->
		<!-- Do not upload this file to the repository. -->
    	<param-value>root</param-value>
    </context-param>
    
    <context-param>
    	<description>database password</description>
    	<param-name>dbPassword</param-name>
		<!-- this is the name of the database -->
		<!-- Do not upload this file to the repository. -->
    	<param-value></param-value>
    </context-param>
<!-- DATABASE -->
<!-- filters -->
    <filter>
    	<description>
    	</description>
    	<display-name>AuthenticationFilter</display-name>
    	<filter-name>AuthenticationFilter</filter-name>
    	<filter-class>uni.project.infinitylearn.filters.AuthenticationFilter</filter-class>
    </filter>
    <filter>
    	<description>
    	</description>
    	<display-name>AuthorizationFilter</display-name>
    	<filter-name>AuthorizationFilter</filter-name>
    	<filter-class>uni.project.infinitylearn.filters.AuthorizationFilter</filter-class>
    </filter>
	<filter>
    	<description>
    	</description>
    	<display-name>GuestFilter</display-name>
    	<filter-name>GuestFilter</filter-name>
    	<filter-class>uni.project.infinitylearn.filters.GuestFilter</filter-class>
    </filter>
    <filter-mapping>
    	<filter-name>AuthenticationFilter</filter-name>
    	<url-pattern>/teacher/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
    	<filter-name>AuthenticationFilter</filter-name>
    	<url-pattern>/student/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
    	<filter-name>AuthenticationFilter</filter-name>
    	<url-pattern>/reviewer/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
    	<filter-name>AuthenticationFilter</filter-name>
    	<url-pattern>/admin/*</url-pattern>
    </filter-mapping>
	<filter-mapping>
    	<filter-name>AuthenticationFilter</filter-name>
    	<url-pattern>/dashboard/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
    	<filter-name>AuthorizationFilter</filter-name>
    	<url-pattern>/teacher/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
    	<filter-name>AuthorizationFilter</filter-name>
    	<url-pattern>/student/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
    	<filter-name>AuthorizationFilter</filter-name>
    	<url-pattern>/reviewer/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
    	<filter-name>AuthorizationFilter</filter-name>
    	<url-pattern>/admin/*</url-pattern>
    </filter-mapping>
	<filter-mapping>
    	<filter-name>GuestFilter</filter-name>
    	<url-pattern>/login</url-pattern>
    </filter-mapping>
	
	<filter-mapping>
    	<filter-name>GuestFilter</filter-name>
    	<url-pattern>/register</url-pattern>
    </filter-mapping>
<!-- filters -->


<!-- GENERAL CONTROLLERS -->
	<!-- FileController -->
		<servlet>
			<description>
			</description>
			<display-name>FileController</display-name>
			<servlet-name>FileController</servlet-name>
			<servlet-class>uni.project.infinitylearn.controllers.FileHandler</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>FileController</servlet-name>
			<url-pattern>/FileController/*</url-pattern>
		</servlet-mapping>
	<!-- FileController -->
	<!-- Video Streaming -->
		<servlet>
			<description>
			</description>
			<display-name>VideoStream</display-name>
			<servlet-name>VideoStream</servlet-name>
			<servlet-class>uni.project.infinitylearn.controllers.VideoStream</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>VideoStream</servlet-name>
			<url-pattern>/video/stream</url-pattern>
		</servlet-mapping>
	<!-- Video Streaming -->
	<!-- DashboardController -->
		<servlet>
			<description>
			</description>
			<display-name>DashboardController</display-name>
			<servlet-name>DashboardController</servlet-name>
			<servlet-class>uni.project.infinitylearn.controllers.DashboardController</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>DashboardController</servlet-name>
			<url-pattern>/dashboard</url-pattern>
		</servlet-mapping>
	<!-- DashboardController -->
<!-- GENERAL CONTROLLERS -->

<!-- LoginController -->
	<servlet>
		<description>
		</description>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>uni.project.infinitylearn.controllers.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
<!-- LoginController -->

<!-- LogoutController -->
	<servlet>
		<description>
		</description>
		<display-name>LogoutController</display-name>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>uni.project.infinitylearn.controllers.LogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
<!-- LogoutController -->

<!-- UserRegisterController -->
	<servlet>
		<description>
		</description>
		<display-name>UserRegisterController</display-name>
		<servlet-name>UserRegisterController</servlet-name>
		<servlet-class>uni.project.infinitylearn.controllers.UserRegisterController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRegisterController</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
<!-- UserRegisterController -->

<!-- GUEST -->
	<servlet>
		<description>
		</description>
		<display-name>GuestCourseList</display-name>
		<servlet-name>GuestCourseList</servlet-name>
		<servlet-class>uni.project.infinitylearn.controllers.guest.CourseListController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GuestCourseList</servlet-name>
		<url-pattern>/guest/course/list</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>GuestCourseDetail</display-name>
		<servlet-name>GuestCourseDetail</servlet-name>
		<servlet-class>uni.project.infinitylearn.controllers.guest.CourseDetailController</servlet-class>
	</servlet>
			<servlet-mapping>
		<servlet-name>GuestCourseDetail</servlet-name>
		<url-pattern>/guest/course/detail</url-pattern>
	</servlet-mapping>
<!-- GUEST -->

<!-- TEACHER -->

	<!-- teacher dashboard controller -->
	<servlet>
		<description>
		</description>
		<display-name>TeacherDashboard</display-name>
		<servlet-name>TeacherDashboard</servlet-name>
		<servlet-class>uni.project.infinitylearn.controllers.teacher.DashboardController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TeacherDashboard</servlet-name>
		<url-pattern>/teacher/dashboard</url-pattern>
	</servlet-mapping>

	<!-- course list controller -->
    <servlet>
    	<description>
			
    	</description>
    	<display-name>TeacherCourseListController</display-name>
    	<servlet-name>TeacherCourseListController</servlet-name>
    	<servlet-class>uni.project.infinitylearn.controllers.teacher.CourseListController</servlet-class>
    </servlet>
	 <servlet-mapping>
    	<servlet-name>TeacherCourseListController</servlet-name>
    	<url-pattern>/teacher/course/list</url-pattern>
    </servlet-mapping>

	<!-- // course view controller -->
	<servlet>
    	<description>
    	</description>
    	<display-name>TeacherCourseViewController</display-name>
    	<servlet-name>TeacherCourseViewController</servlet-name>
    	<servlet-class>uni.project.infinitylearn.controllers.teacher.CourseViewController</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>TeacherCourseViewController</servlet-name>
		<url-pattern>/teacher/course/detail</url-pattern>
	</servlet-mapping>

	<!-- course create controller -->
	<servlet>
    	<description>
    	</description>
    	<display-name>TeacherCourseCreateController</display-name>
    	<servlet-name>TeacherCourseCreateController</servlet-name>
    	<servlet-class>uni.project.infinitylearn.controllers.teacher.CourseCreateController</servlet-class>
    </servlet>
	<servlet-mapping>
    	<servlet-name>TeacherCourseCreateController</servlet-name>
    	<url-pattern>/teacher/course/create</url-pattern>
    </servlet-mapping>

	<!-- course edit controller -->
	<servlet>
		<description>Handles editing of courses</description>
		<display-name>TeacherCourseEditController</display-name>
		<servlet-name>TeacherCourseEditController</servlet-name>
		<servlet-class>uni.project.infinitylearn.controllers.teacher.CourseEditController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TeacherCourseEditController</servlet-name>
		<url-pattern>/teacher/course/edit</url-pattern>
	</servlet-mapping>

	<!-- course delete controller -->
	<servlet>
		<description>Handles deletion of courses and related lessons and videos</description>
		<display-name>TeacherCourseDeleteController</display-name>
		<servlet-name>TeacherCourseDeleteController</servlet-name>
		<servlet-class>uni.project.infinitylearn.controllers.teacher.CourseDeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TeacherCourseDeleteController</servlet-name>
		<url-pattern>/teacher/course/delete</url-pattern>
	</servlet-mapping>

	<!-- course lesson create controller -->
	<servlet>
    	<description>
    	</description>
    	<display-name>TeacherCourseLessonCreateController</display-name>
    	<servlet-name>TeacherCourseLessonCreateController</servlet-name>
    	<servlet-class>uni.project.infinitylearn.controllers.teacher.CourseLessonCreateController</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>TeacherCourseLessonCreateController</servlet-name>
		<url-pattern>/teacher/course/lesson/create</url-pattern>
	</servlet-mapping>

	<!-- course lesson edit controller -->
	<servlet>
		<description>Handles editing of lessons</description>
		<display-name>TeacherCourseLessonEditController</display-name>
		<servlet-name>TeacherCourseLessonEditController</servlet-name>
		<servlet-class>uni.project.infinitylearn.controllers.teacher.CourseLessonEditController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TeacherCourseLessonEditController</servlet-name>
		<url-pattern>/teacher/course/lesson/edit</url-pattern>
	</servlet-mapping>

	<!-- course lesson delete controller -->
	<servlet>
		<description>Handles deletion of a lesson and its videos</description>
		<display-name>TeacherCourseLessonDeleteController</display-name>
		<servlet-name>TeacherCourseLessonDeleteController</servlet-name>
		<servlet-class>uni.project.infinitylearn.controllers.teacher.CourseLessonDeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TeacherCourseLessonDeleteController</servlet-name>
		<url-pattern>/teacher/course/lesson/delete</url-pattern>
	</servlet-mapping>

	<!-- course lesson video create controller -->
	<servlet>
    	<description>
    	</description>
    	<display-name>TeacherCourseLessonVideoCreateController</display-name>
    	<servlet-name>TeacherCourseLessonVideoCreateController</servlet-name>
    	<servlet-class>uni.project.infinitylearn.controllers.teacher.CourseLessonVideoCreateController</servlet-class>
    </servlet>

	<servlet-mapping>
		<servlet-name>TeacherCourseLessonVideoCreateController</servlet-name>
		<url-pattern>/teacher/course/lesson/lesson-video/create</url-pattern>
	</servlet-mapping>

	<!-- course lesson video edit controller -->
	<servlet>
		<description>Handles editing of lesson videos</description>
		<display-name>TeacherCourseLessonVideoEditController</display-name>
		<servlet-name>TeacherCourseLessonVideoEditController</servlet-name>
		<servlet-class>uni.project.infinitylearn.controllers.teacher.CourseLessonVideoEditController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TeacherCourseLessonVideoEditController</servlet-name>
		<url-pattern>/teacher/course/lesson/lesson-video/edit</url-pattern>
	</servlet-mapping>

	<!-- course lesson video delete controller -->
	<servlet>
		<description>Handles deletion of a single lesson video</description>
		<display-name>TeacherCourseLessonVideoDeleteController</display-name>
		<servlet-name>TeacherCourseLessonVideoDeleteController</servlet-name>
		<servlet-class>uni.project.infinitylearn.controllers.teacher.CourseLessonVideoDeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TeacherCourseLessonVideoDeleteController</servlet-name>
		<url-pattern>/teacher/course/lesson/lesson-video/delete</url-pattern>
	</servlet-mapping>

	<!-- course assignment create controller -->
	<servlet>
		<description>Handles creating of a single lesson assignment</description>
		<display-name>TeacherCourseLessonAssignmentCreateController</display-name>
		<servlet-name>TeacherCourseLessonAssignmentCreateController</servlet-name>
		<servlet-class>uni.project.infinitylearn.controllers.teacher.CourseLessonAssignmentCreateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TeacherCourseLessonAssignmentCreateController</servlet-name>
		<url-pattern>/teacher/course/lesson/assignment/create</url-pattern>
	</servlet-mapping>

	<!-- course assignment update controller -->
	<servlet>
		<description>Handles updating of a single lesson assignment</description>
		<display-name>TeacherCourseLessonAssignmentEditController</display-name>
		<servlet-name>TeacherCourseLessonAssignmentEditController</servlet-name>
		<servlet-class>uni.project.infinitylearn.controllers.teacher.CourseLessonAssignmentEditController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TeacherCourseLessonAssignmentEditController</servlet-name>
		<url-pattern>/teacher/course/lesson/assignment/edit</url-pattern>
	</servlet-mapping>

	<!-- course assignment delete controller -->
	<servlet>
		<description>Handles deletion of a single lesson assignment</description>
		<display-name>TeacherCourseLessonAssignmentDeleteController</display-name>
		<servlet-name>TeacherCourseLessonAssignmentDeleteController</servlet-name>
		<servlet-class>uni.project.infinitylearn.controllers.teacher.CourseLessonAssignmentDeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TeacherCourseLessonAssignmentDeleteController</servlet-name>
		<url-pattern>/teacher/course/lesson/assignment/delete</url-pattern>
	</servlet-mapping>
	<!-- course assignment question view controller-->
	<servlet>
		<description>Handles creating of a single lesson assignment question</description>
		<display-name>TeacherCourseLessonAssignmentQuestionViewController</display-name>
		<servlet-name>TeacherCourseLessonAssignmentQuestionViewController</servlet-name>
		<servlet-class>uni.project.infinitylearn.controllers.teacher.CourseLessonAssignmentQuestionViewController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TeacherCourseLessonAssignmentQuestionViewController</servlet-name>
		<url-pattern>/teacher/course/lesson/assignment/question/view</url-pattern>
	</servlet-mapping>
	<!-- course assignment question create controller -->
	<servlet>
		<description>Handles creating of a single lesson assignment question</description>
		<display-name>TeacherCourseLessonAssignmentQuestionCreateController</display-name>
		<servlet-name>TeacherCourseLessonAssignmentQuestionCreateController</servlet-name>
		<servlet-class>uni.project.infinitylearn.controllers.teacher.CourseLessonAssignmentQuestionCreateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TeacherCourseLessonAssignmentQuestionCreateController</servlet-name>
		<url-pattern>/teacher/course/lesson/assignment/question/create</url-pattern>
	</servlet-mapping>
<!-- course lesson assingment question edit controller-->
	<servlet>
		<description>Handles updating of a single lesson assignment question</description>
		<display-name>TeacherCourseLessonAssignmentQuestionEditController</display-name>
		<servlet-name>TeacherCourseLessonAssignmentQuestionEditController</servlet-name>
		<servlet-class>uni.project.infinitylearn.controllers.teacher.CourseLessonAssignmentQuestionEditController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TeacherCourseLessonAssignmentQuestionEditController</servlet-name>
		<url-pattern>/teacher/course/lesson/assignment/question/edit</url-pattern>
	</servlet-mapping>

	<!-- course lesson assingment question delete controller-->
	<servlet>
		<description>Handles deletion of a single lesson assignment question</description>
		<display-name>TeacherCourseLessonAssignmentQuestionDeleteController</display-name>
		<servlet-name>TeacherCourseLessonAssignmentQuestionDeleteController</servlet-name>
		<servlet-class>uni.project.infinitylearn.controllers.teacher.CourseLessonAssignmentQuestionDeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TeacherCourseLessonAssignmentQuestionDeleteController</servlet-name>
		<url-pattern>/teacher/course/lesson/assignment/question/delete</url-pattern>
	</servlet-mapping>

<!-- TEACHER -->

<!-- STUDENT -->
	<servlet>
		<description>
		</description>
		<display-name>StudentDashboard</display-name>
		<servlet-name>StudentDashboard</servlet-name>
		<servlet-class>uni.project.infinitylearn.controllers.student.DashboardController</servlet-class>
	</servlet>
		<servlet-mapping>
		<servlet-name>StudentDashboard</servlet-name>
		<url-pattern>/student/dashboard</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>StudentCourseEnrollment</display-name>
		<servlet-name>StudentCourseEnrollment</servlet-name>
		<servlet-class>uni.project.infinitylearn.controllers.student.EnrollCourseController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentCourseEnrollment</servlet-name>
		<url-pattern>/student/enroll</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>StudentEnrolledCourseList</display-name>
		<servlet-name>StudentEnrolledCourseList</servlet-name>
		<servlet-class>uni.project.infinitylearn.controllers.student.EnrolledCourseListController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentEnrolledCourseList</servlet-name>
		<url-pattern>/student/course/enroll/list</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>StudentEnrolledCourseDetail</display-name>
		<servlet-name>StudentEnrolledCourseDetail</servlet-name>
		<servlet-class>uni.project.infinitylearn.controllers.student.EnrolledCourseDetailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentEnrolledCourseDetail</servlet-name>
		<url-pattern>/student/course/enroll/detail</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>StudentVideoWatchController</display-name>
		<servlet-name>StudentVideoWatchController</servlet-name>
		<servlet-class>uni.project.infinitylearn.controllers.student.VideoWatchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentVideoWatchController</servlet-name>
		<url-pattern>student/course/enroll/watch</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>StudentVideoProgressController</display-name>
		<servlet-name>StudentVideoProgressController</servlet-name>
		<servlet-class>uni.project.infinitylearn.controllers.student.VideoProgressController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentVideoProgressController</servlet-name>
		<url-pattern>student/course/enroll/update_progress</url-pattern>
	</servlet-mapping>
<!-- STUDENT -->

<!-- ADMIN -->
	<servlet>
		<description>
		</description>
		<display-name>AdminDashboard</display-name>
		<servlet-name>AdminDashboard</servlet-name>
		<servlet-class>uni.project.infinitylearn.controllers.admin.DashboardController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminDashboard</servlet-name>
		<url-pattern>/admin/dashboard</url-pattern>
	</servlet-mapping>
<!-- ADMIN -->

<!-- REVIEWER -->
	<servlet>
		<description>
		</description>
		<display-name>ReviewerDashboard</display-name>
		<servlet-name>ReviewerDashboard</servlet-name>
		<servlet-class>uni.project.infinitylearn.controllers.reviewer.DashboardController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReviewerDashboard</servlet-name>
		<url-pattern>/reviewer/dashboard</url-pattern>
	</servlet-mapping>
<!-- REVIEWER -->
</web-app>
	